---
title: G Jewelry
layout: "base.njk"
---

## Welcome to G Jewelry

This is the homepage of the G Jewelry website, a recreation of the original.

<p>
  Here, we will add an introduction to the business and a link to the gallery page.
</p>
